.idea/*
.circleci/fastlane/README.md
.circleci/fastlane/report.xml
Android/.gradle/
Android/build/android-profile/
Android/.idea/
Android/Android.iml
Android/local.properties
forcehybrid-*.tgz
forcedroid-*.tgz
forceios-*.tgz
forcereact-*.tgz
iOS/MobileSDKUITest.xcodeproj/project.xcworkspace/xcuserdata/
iOS/MobileSDKUITest.xcodeproj/xcuserdata/bpage.xcuserdatad/xcdebugger/
test_output/
tmp*/
SalesforceMobileSDK-Package/
